alembic==1.4.3
aniso8601==8.0.0
appdirs==1.4.4
attrs==20.2.0
boto3==1.15.15
botocore==1.18.15
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
cloudpickle==1.6.0
connexion==2.7.0
coverage==5.3
databricks-cli==0.12.1
dill==0.3.2
distlib==0.3.1
docker==4.3.1
dotmap==1.3.0
elastic-apm==5.9.0
elasticsearch==7.9.1
entrypoints==0.3
faiss-cpu==1.6.3
farm==0.4.9
farm-haystack==0.4.0
fastapi==0.61.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
flask-restplus==0.13.0
future==0.18.2
gitdb==4.0.5
GitPython==3.1.9
gunicorn==20.0.4
h11==0.11.0
h5py==2.10.0
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
Keras==2.4.3
langdetect==1.0.8
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
mlflow==1.0.0
numpy==1.19.2
openapi-spec-validator==0.2.9
packaging==20.4
pandas==1.1.3
pluggy==0.13.1
protobuf==3.13.0
psutil==5.7.2
psycopg2-binary==2.8.6
py==1.9.0
pydantic==1.6.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python-multipart==0.0.5
pytz==2020.1
PyYAML==5.3.1
querystring-parser==1.2.4
regex==2020.9.27
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
sentencepiece==0.1.91
seqeval==0.0.19
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smmap==3.0.4
SQLAlchemy==1.3.19
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.1
starlette==0.13.6
swagger-ui-bundle==0.0.8
tabulate==0.8.7
tenacity==6.2.0
threadpoolctl==2.1.0
tika==1.24
tokenizers==0.8.1rc2
toml==0.10.1
torch==1.6.0
tox==3.20.1
tqdm==4.50.2
transformers==3.1.0
urllib3==1.26.5
uvicorn==0.12.1
virtualenv==20.0.33
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
